@import "tailwindcss";
@import "@heroui/styles";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased; /* Giúp chữ thanh mảnh, đẹp hơn trên Mac/iPhone */
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

.bg-shape {
    background-image: url('../public/stacked-peaks-haikei.svg');
    background-size: cover;
    background-position: center;
}

.bg-shape-2 {
    background-image: url('../public/symbol-scatter-haikei.svg');
    background-size: cover;
    background-position: center;
}

.text-wave-bold {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 6px; /* Khoảng cách giữa chữ và sóng */

    /* SVG tạo hình sóng lượn */
    /* stroke-width='3' giúp đường sóng cực dày và đậm */
    /* stroke='%2300e5ff' là màu xanh Cyan sáng rực */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%2300e5ff' stroke-width='3' d='M0 3.5c5 0 5-3 10-3s5 3 10 3'/%3E%3C/svg%3E");

    background-repeat: repeat-x;
    background-size: 20px 6px; /* 20px là độ rộng sóng, 6px là độ cao lượn */
    background-position: 0 100%;
}

.max-page-width {
    max-width: 1400px;
    margin: 0 auto;
}